h2{
font-family:arial, helvetica, sans-serif;
font-size: 16px;
font-weight:bold;
}

#header{
width: 500px;
height: 100px;
background-color: #fafad2;
border: 2px solid #696969;
}

.some{
font: 12px verdana, arial, san-serif;
font-variant: all-small-caps;
font-style: italic;
}